/* .App {
  background-color: rgb(255, 255, 255);
  display: flex;
}

#openGuard {
  font-size: large;
  color: blue;

}

#fullGuard {
  color: green;
}

#halfGuard {
  color: red;
}

#sideMount {
  color: blueviolet;
}

#fullMount {
  color: brown
} */

/* This was from details.js */
/* style={{ padding:'10px', display: 'flexbox',
  justifyContent: 'right', border: '1px solid black'}} */

.App {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px
}

.login-button {
font: bold;
}

.sister-Div {
font: red;
position: fixed;
z-index: -1;
bottom: 0;
right: 0;
padding-left: 50%;
height: 50vh;

}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: large;
  justify-content: space-between;
}

.parent-Div {
  display: flex;
}
.card {
  width: 40vw;
  margin: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  cursor: pointer;
}

